<div class="container-fluid" >
    <div class="row ">
       <div class="col-xs-6 col-xs-offset-3 " id="container">
          <img src="assets/iproelec/iproelec.png" class="img-responsive" id="avatar">
          <h1 id="center">SIGSMART</h1>
          <form class="login"  method="POST">
             <div class="form-group">
                <h4 id="label">Nombre de usuario</h4>
                <input type="email" class="form-control" placeholder="Ingresu su rut o email " name="email" required autofocus>
             </div>
             <div class="form-group">
                <h4 id="label">Contraseña</h4>
                <input type="password" class="form-control" placeholder="Ingrese su contraseña" name="password" required>
             </div>
             <div class="text-center">
                <a href="iproelec-Dashboard.html"><button id="button" class="btn btn-lg" type="submit">Ingresar</button></a>
             </div>
             <div class="checkbox ">
                <p class="help-block"><a href="#">Olvidó su contraseña?</a></p>
             </div>
          </form>
       </div>
    </div>
 </div>