<nav class="navbar navbar-default  navbar-static-top" role="navigation" id="menu">
   <div class="container-fluid">
      <div class="navbar-header" >
         <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
         <span class="sr-only">Desplegar navegación</span>
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span>   
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand visible-lg visible-md download-logo"  href="#"><img src="assets/iproelec/logo-negro.png" class="img-responsive"></a>
         <a class="navbar-brand visible-xs visible-sm download-logo" href="#"><img src="assets/iproelec/logop.png" class="img-responsive"></a>
      </div>
      <div class="collapse navbar-collapse  navbar-ex1-collapse ">
         <ul class="nav navbar-nav navbar-left" >
            <li routerLinkActive="active"><a routerLink="home" id="text">DASHBOARD</a></li>
            <li routerLinkActive="active"><a routerLink="fichas-personal" id="text">FICHA PERSONAL</a></li>
            <li routerLinkActive="active"><a routerLink="colaboradores" id="text">COLABORADORES</a></li>
            <li routerLinkActive="active"><a routerLink="datos-personales" id="text">DATOS PERSONALES</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right" >
            <li><a class="italic">Bienvenido<br/>Sebastian Vega</a></li>
            <li ><a ><img style="width:50px; height:50px; margin-top: -10px; border-radius:30px;" src="assets/iproelec/perfil.jpg" class="img-responsive"></a></li>
            <li><a href="iproelec-InicioSesion.html"><button id="button" class="btn" >Salir</button></a></li>
         </ul>
      </div>
   </div>
</nav>

