<div class="container">
  <div class="row">
     <div class="col-xs-12 col-lg-6 col-sm-12 col-md-8">
        <h2 class="color">Colaboradores</h2>
     </div>
     <div class="col-xs-8 col-lg-offset-2 col-lg-4 col-sm-6 col-md-4">
        <div class="input-group margin-top" >
           <input type="text" class="form-control" placeholder="Ingrese Rut o Nombre " >
           <span class="input-group-btn ">
           <button class="btn " type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
           </span>
        </div>
     </div>
  </div>
  <hr/>
  <div class="row">
     <div class="col-xs-12 margin-col-top">
        <div class="table-responsive">
           <div id="height">
              <table class="table table-fixed" >
                 <thead id="table-color-warning" >
                    <th class="col-xs-2 center">Rut</th>
                    <th class="col-xs-2 center">Nombre</th>
                    <th class="col-xs-1 center">Empresa</th>
                    <th class="col-xs-2 center">Cargo</th>
                    <th class="col-xs-2 center">Email</th>
                    <th class="col-xs-1 center">Teléfono</th>
                    <th class="col-xs-1 center">Área</th>
                 </thead>
                 <tbody class="center">
                    <tr>
                       <td class="col-xs-2">16.234.223-5</td>
                       <td class="col-xs-2">Hernán Gamaliel Torres Váldes</td>
                       <td class="col-xs-1 ">I-Proelec</td>
                       <td class="col-xs-2 ">I-Asesor de S&SO</td>
                       <td class="col-xs-2">hernan.torres@i-proelec.cl</td>
                       <td class="col-xs-1">996197661</td>
                       <td class="col-xs-1">Eléctricos</td>
                       <td class="col-xs-1"><a href="#" id="enlace" class="btn " type="button">Editar</a></td>
                    </tr>
                    <tr>
                       <td class="col-xs-2">16.234.223-5</td>
                       <td class="col-xs-2">Hernán Gamaliel Torres Váldes</td>
                       <td class="col-xs-1 ">I-Proelec</td>
                       <td class="col-xs-2 ">I-Asesor de S&SO</td>
                       <td class="col-xs-2">hernan.torres@i-proelec.cl</td>
                       <td class="col-xs-1">996197661</td>
                       <td class="col-xs-1">Eléctricos</td>
                       <td class="col-xs-1"><a href="#" id="enlace" class="btn " type="button">Editar</a></td>
                    </tr>
                    <tr>
                       <td class="col-xs-2">16.234.223-5</td>
                       <td class="col-xs-2">Hernán Gamaliel Torres Váldes</td>
                       <td class="col-xs-1 ">I-Proelec</td>
                       <td class="col-xs-2 ">I-Asesor de S&SO</td>
                       <td class="col-xs-2">hernan.torres@i-proelec.cl</td>
                       <td class="col-xs-1">996197661</td>
                       <td class="col-xs-1">Eléctricos</td>
                       <td class="col-xs-1"><a href="#" id="enlace" class="btn " type="button">Editar</a></td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-lg-3">
        <a id="enlace" href="iproelec-DatosPersonales.html" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-plus" aria-hidden="true"></i>
        Agregar Trabajador</a>
     </div>
  </div>
</div>