<div class="container">
   <div class="row">
      <div class="col-xs-12 col-lg-6 col-sm-12 col-md-8">
         <h2 class="color">Dashboard</h2>
      </div>
      <div class="col-xs-8 col-lg-offset-2 col-lg-4 col-sm-6 col-md-4">
         <div class="input-group margin-top" >
            <input type="text" class="form-control" placeholder="Ingrese Rut o Nombre " >
            <span class="input-group-btn ">
            <button class="btn " type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
            </span>
         </div>
      </div>
   </div>
   <hr/>
   <div class="row">
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4 ">
         <div class="text-center">
            <a id="enlace-dash" href="iproelec-FichasPersonal.html" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-line-chart fa-5x enlace-dash" aria-hidden="true"></i> Estadísticas</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="iproelec-Colaboradores.html" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-users fa-5x enlace-dash" aria-hidden="true"></i> Colaboradores</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="#" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-briefcase fa-5x enlace-dash" aria-hidden="true"></i>Reportes Causi</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="#" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-lightbulb-o fa-5x enlace-dash" aria-hidden="true"></i> Solicitudes</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="#" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-clock-o fa-5x enlace-dash" aria-hidden="true"></i> Asistencia</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="#" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-search-plus fa-5x enlace-dash" aria-hidden="true"></i> Historial</a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-lg-4 col-sm-6  col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="iproelec-DatosPersonales.html" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-user fa-5x enlace-dash" aria-hidden="true"></i>  Usuarios</a>
         </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-sm-6 col-md-4">
         <div class="text-center">
            <a id="enlace-dash" href="#" class="btn  btn-lg margin-col-top " type="button"><i class="fa fa-cogs fa-5x enlace-dash" aria-hidden="true"></i> Áreas/Empresas</a>
         </div>
      </div>
   </div>
</div>